@using Entity
@{
    var article1 = (Article)ViewBag.Article1;
    var article2 = (Article)ViewBag.Article2;
    var article3 = (Article)ViewBag.Article3;
}

<style>
    .mail-alert {
        padding: 5px;
        color: white;
        text-align: center;
        font-size: 16px;
        position: fixed;
        bottom: 40px;
        left: 48%;
        z-index: 10;
        border: solid 1px green;
        border-radius: 10px;
        background: #AAD4B3;
    }
</style>
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owl.theme.green.min.css" rel="stylesheet" />
<section class="content">
    <div class="ic"></div>
    <div class="container">
        <div class="asdfg">
            <span class="mail-alert">
                İşlem başarılı
            </span>
        </div>
        <div class="row">
            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <img src="/Theme/images/page1_img1.jpg" alt="">
                        <div class="bann_capt ">
                            <div class="maxheight">
                                <img src="/Theme/images/icon1.png" alt="">
                                <div class="bann_title">@article1.Title</div>
                                <a href="#">devamini gör..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <div class="bann_capt  bn__1">
                            <div class="maxheight">
                                <img src="/Theme/images/icon2.png" alt="">
                                <div class="bann_title">@article2.Title</div>
                                <a href="#">more</a>
                            </div>
                        </div>
                        <img src="/Theme/images/page1_img2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <div class="banner ">
                    <div class="gall_block">
                        <img src="/Theme/images/page1_img3.jpg" alt="">
                        <div class="bann_capt  bn__2">
                            <div class="maxheight">
                                <img src="/Theme/images/icon3.png" alt="">
                                <div class="bann_title">@article3.Title</div>
                                <a href="#">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_12 text-center">
                <h2>Online Diyet Teklifleri</h2>
            </div>
            <div class="grid_3"></div>
            <div class="grid_6">
                <div class="diet">
                    <div class="owl-carousel owl-theme">
                        @foreach (DietList item in ViewBag.DietLists)
                        {
                            <div class="item">
                                <img class="diet_logo" src="~/Uploads/Logos/main_logo.png" alt="Alternate Text" />
                                <h3>@item.Title</h3>
                                <h3 style="float:right">@item.Price.ToString("C")</h3>
                                <hr />
                                <div>
                                    <ul>
                                        <li>Tamamen size uygun hazırlanmış kişisel diyet listesi</li>
                                        <li>Haftada <strong>@item.Period</strong> -30-ar dakikalık << beslenme konulu >>  telefon görüşmesi</li>
                                        @if (item.WhatsAppContanct)
                                        {
                                            <li>Whatsapptan soru sorma <strong>(10:00 - 18:00 arası)</strong></li>
                                        }
                                        <li>Yaşam tarzınız, zararlı alışkanlıklarınız, hastalıklarınız, kullandığınız ilaçlar gibi kriterlere göre beslenme önerileri</li>
                                        <li>Besin tüketim kaydı</li>
                                        <li>Motivasyon desteği</li>
                                    </ul>
                                </div>
                                <hr />
                            </div>
                        }
                    </div>
                </div>
                <br />
            </div>
            <div class="grid_3"></div>
            <div class="grid_12">
                <div class="box">
                    <div class="row">
                        <div class="grid_5 preffix_1">
                            <h2>Welcome</h2>
                            <p>Post about this <strong class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">freebie</a></strong> will tell all you need to know about it.Need a good choice of <strong class="color1"><a href="http://www.templatemonster.com/properties/topic/food-restaurant/" rel="nofollow">themes</a></strong>? Visit TemplateMonster’s website.</p>
                            Aliquam nibh e,estas id dictum a, commodo. Praesent faucibus malesuada faucibusonec laeet metus id laoreet malesuadarem ipsum dolor sit <br>
                            <a href="#" class="btn">more</a>
                        </div>
                        <div class="grid_5">
                            <h2>Feel the Savor of Life</h2>
                            Dervamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo. Praesent faucibus malesuada ucibus. Donec laeet metus id laoreet malesuadarem ipsum dosit ametctetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum. <br>
                            <a href="#" class="btn">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_12">
                <h2>Dishes for You to Try</h2>
            </div>
            <div class="gallery">
                <div class="grid_4"><a href="images/big1.jpg" class="gall_item"><img src="/Theme/images/page1_img4.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
                <div class="grid_4"><a href="images/big2.jpg" class="gall_item"><img src="/Theme/images/page1_img5.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
                <div class="grid_4"><a href="images/big3.jpg" class="gall_item"><img src="/Theme/images/page1_img6.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
            </div>
            <div class="grid_4">
                <h2>Testimonials</h2>
                <blockquote class="bq1">
                    <img src="/Theme/images/page1_img7.jpg" alt="" class="img_inner fleft noresize">
                    <div class="extra_wrapper">
                        <div class="bq_title color1">Mark Wood</div>
                        Sivamus at magna non nuncer tristique rhoncus. Aliquame nibh ante, egestas id dictumertolom  commodo. Praesent faucib mal.
                        <a href="#"><span class="fa fa-chevron-right"></span>more testimonials</a>
                    </div>
                </blockquote>
            </div>
            <div class="grid_4">
                <h2>What’s new</h2>
                <div class="block2">
                    <time datetime="2014-01-01">11<br>June</time>
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Vivamus at magna non nunc </a></div>Rehoncus. Aliquam nibh antegestas id dictum a, commodo. Praesenterto faucibus malesuada faucibus
                    </div>
                </div>
                <div class="block2">
                    <time datetime="2014-01-01">15<br>APR</time>
                    <div class="extra_wrapper">
                        <div class="text1"><a href="#">Tivamus at magna non nunc </a></div>Rehoncus. Aliquam nibh antegestas id dictum a, commodo. Praesenterto faucibus malesuada faucibu
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <h2>Opening Hours</h2>
                <ul class="shed">
                    <li><span>Breakfast:</span> 8AM - 11AM</li>
                    <li><span>Grill Menu:</span> 12AM - 12PM</li>
                    <li><span>Live Musiс:</span> 8AM - 11AM</li>
                </ul>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            dots: false,
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            items: 1
        })
    </script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".mail-alert").fadeOut(2000);
            }, 1000)
        })
    </script>
}