<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Prof. Dr. Biyokimyager Dyt.  Sena Karamanlı
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    @Styles.Render("~/bundles/PanelStyle")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", false);

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body class="">
    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <div class="logo">
                <a href="/Panel/Article/Index">Logo will be here</a>
            </div>
            @{
                var a = Request.Url.AbsolutePath;
                var article_isActive = "";
                var dietlist_isACtive = "";
                var health_isActive = "";
                var product_isActive = "";
                var settings_isActive="";
                            if (a.Contains("Article"))
                {
                    article_isActive = "active";
                }
                if (a.Contains("DietList"))
                {
                    dietlist_isACtive = "active";
                }
                if (a.Contains("Health"))
                {
                    health_isActive = "active";
                }
                if (a.Contains("Product"))
                {
                    product_isActive = "active";
                }
                if (a.Contains("Settings"))
                {
                    settings_isActive = "active";
                }

            }
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item @article_isActive">
                        <a class="nav-link" href="/Panel/Article/Index">
                            <i class="material-icons">library_books</i>
                            <p>Makaleler</p>
                        </a>
                    </li>
                    <li class="nav-item @dietlist_isACtive">
                        <a class="nav-link" href="/Panel/DietList/Index">
                            <i class="material-icons">local_dining</i>
                            <p>Paketler</p>
                        </a>
                    </li>
                    <li class="nav-item @health_isActive">
                        <a class="nav-link" href="/Panel/Health/Index">
                            <i class="material-icons">content_paste</i>
                            <p>Sağlık Bilgileri</p>
                        </a>
                    </li>
                    <li class="nav-item @product_isActive">
                        <a class="nav-link" href="/Panel/Product/Index">
                            <i class="material-icons">fastfood</i>
                            <p>Kategoriler/Ürünler</p>
                        </a>
                    </li>
                    <li class="nav-item @settings_isActive">
                        <a class="nav-link" href="/Panel/GeneralSettings/Index">
                            <i class="material-icons">settings</i>
                            <p>Genel Ayarlar</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">

            @RenderBody()

            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by <strong>Furkan AYDIN</strong>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    }
    @Scripts.Render("~/bundles/panelScripts")
    @RenderSection("scripts", required: false)

</body>
</html>